/*
Theme Name: Zephyr Child
Template: Zephyr
Version: 1.0
Author:	UpSolution
Theme URI: http://zephyr.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

/* FONTS */

body {
    font-family: 'nudista-web', sans-serif;
}

a:hover {
    text-decoration: none;
}

.text-17 {
    font-size: 17px;
    color: #77777E;
    line-height: 26px;
}

.l-canvas {
    overflow: visible;
}


/* MENU */

header a:hover,
header a:focus {
    color: #fff !important;
}

.ush_menu_1 .w-nav-title {
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.ush_menu_1 .w-nav-anchor.level_1 {
    height: 90px;
    line-height: 90px;
}

.ush_menu_2 .w-nav-title {
    font-size: 15px;
}

.ush_menu_1 .w-nav-anchor:hover .w-nav-title {
    text-decoration: none !important;
}

.w-socials,
.w-search {
    opacity: .6;
}

.w-socials {
    margin-left: 0.4rem !important; 
}

.header_hor .l-header {
    z-index: 50;
}

.w-nav-title svg {
    margin-right: 5px;
}

.kategoriapredmetov {
    background-color: #F8F8FB;
    padding: 10px 15px;
    color: #1C326A;
    font-size: 15px;
    font-weight: 700;
    margin: 0 5px;
    display: block;
}

.kategoriapredmetov:hover,
.kategoriapredmetov.current {
    background-color: #1C326A;
    color: #fff !important;
}

.zoznam-kategorii {
    list-style-type: none;
    margin-left: 0px !important;
}

.zoznam-kategorii li {
    display: inline-block;
}

@media only screen and (min-width: 1280px) {
    .header_hor .w-nav.type_desktop .menu-item-64 .w-nav-list.level_2 {
        left: -382px !important;
        right: -208px !important;
        width: 167% !important;
        transform-origin: 50% 0;
        position: absolute;
        border-top: 1px solid rgba(0,0,0,.2);
        padding-top: 50px !important;
        padding-bottom: 100px !important;
        z-index: 60 !important;
    }
    .w-nav-list.level_2 {
        border-radius: 0px !important;
        box-shadow: none !important;
        text-align: center !important;
        padding: 0px 360px 0px 360px !important;        
    }

    .ush_menu_3 {
        display: none;
    }

}

.w-nav.type_desktop .menu-item[class*="columns"] .w-nav-list.level_2>li {
    text-align: left;
}

.w-nav-anchor.level_3 {
    padding: 0.2em 20px !important;
}

.w-nav-anchor.level_3 .w-nav-title {
    text-transform: inherit;
    font-weight: 400;
    font-size: 15px;
}

.w-nav-anchor.level_3 .w-nav-title:hover {
    text-decoration: underline !important;
}

.menu-hidden {
    visibility: hidden;
}

/* LOGO */

.w-img.ush_image_1 {
    background-color: #fff;
    padding: 20px;
    height: 107px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,.30);
    z-index: 60;
}

.w-img .w-img-h {
    height: 60px;
}

/* BUTTONS */

.w-btn {
    background-color: #E62444 !important;
    font-weight: 700;
    color: #fff !important;
    border-radius: 0px !important;
    height: 50px;
    line-height: 50px;
    padding: 0 30px !important;
}

.button-vernostny-program button {
    background-color: #E62444 !important;
    font-weight: 700;
    color: #fff !important;
    border-radius: 0px !important;
    height: 50px;
    line-height: 50px;
    padding: 0 30px !important;
    box-shadow: none !important;
}

.w-btn:hover {
    background-color: #C21E39 !important;
}

div.wpcf7 .ajax-loader {
    width: 22px;
    height: 22px;
}

.tooltip > .tooltip-inner {
    background-color: #E62444;
    min-width: 300px;
    border-radius: 0px;
    padding: 10px;

}

.tooltip > .tooltip-inner svg {
    position: absolute;
    left: 13px;
    top: 17px;
    font-size: 18px;
}

.tooltip .arrow:before {
    border-top-color: #E62444 !important;
}


/* NEWSLETTER SEKCIA */

.newsletter h2 {
    color: #fff;
}

.custom-label p {
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(255,255,255,.5);
    margin-bottom: 5px !important;
}

.newsletter input[type="email"] {
    width: 315px;
    background-color: rgba(255,255,255,.15) !important;
    border:none ;
    color: #fff !important;
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
}

.newsletter input[type="submit"] {
    height: 50px;
    line-height: 50px;
    background-color: #E62444;
    font-size: 15px;
    font-weight: 700;
    border-radius: 0px !important;
    box-shadow: none;
    margin-left: 20px;
}

.newsletter input[type="submit"]:hover {
    background-color: #C21E39;
}

.newsletter .wpcf7-form-control-wrap {
    display: inline-block;
}

.wpcf7 {
    text-align: right;
}

.wpcf7-form {
    padding-top: 0px;
}

.wpcf7-form p {
    margin-bottom: 0px !important;
}

input:focus, textarea:focus {
    box-shadow: none !important;
}


.posun-hore .l-section-h {
    background-color: #fff;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.2);
}

img {
    width: auto \9;
    -ms-interpolation-mode: bicubic;
}

/* FOOTER */

.text-20 p {
    font-size: 20px;
    line-height: 32px;
}

.footer-nadpis p {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255,255,255,.5) !important;
}

.footer-nadpis p:after {
    content: "";
    width: 40px;
    height: 2px;
    display: block;
    background: #E62444;
    margin: 20px 0;
}

.menu-footer ul li {
    padding-left: 0px !important;
    margin-bottom: 0px !important;
    line-height: 30px;
}

.menu-footer ul li:before {
    display: none;
} 

.color_footer-bottom .w-socials-item-link {
    background-color: transparent !important;
}

footer .w-socials-item-link {
    width: auto !important;
    margin-right: 30px;
}

footer .w-socials-item.facebook .w-socials-item-link-hover,
footer .w-socials-item.twitter .w-socials-item-link-hover {
    background-color: transparent !important;
}

footer .w-socials-item-popup {
    display: none !important;
}

footer .w-socials {
    margin-left: 0px !important;
}

/* SLUZBY */

.sluzba img {
    height: 60px;
}

.sluzba .w-image {
    margin-bottom: 10px !important;
}

.sluzba h4 {
    margin-bottom: 10px !important;
}

.sluzba p {
    color: #1C326A;
    margin-bottom: 10px !important;
}

.sluzba p a {
    color: #E62444 !important;
}

.sluzba .zoznam-podkategorii p a:hover {
    text-decoration: underline;
}

.sluzby {
    margin-top: -100px;
}

.sluzby .vc_col-sm-12 {
    margin-top: -100px;
}

.sluzby .vc_column-inner {
    padding: 0 !important;
}

.sluzby .vc_col-sm-12 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-shadow: 0 0 30px rgba(0,0,0,.30);
    max-width: 1140px;
}

.cb-loga .row {
    align-items: center;
}


/* .sluzby .vc_col-sm-3:nth-child(1) .vc_column-inner,
.sluzby .vc_col-sm-3:nth-child(5) .vc_column-inner {
    padding-left: 1.5rem !important;
}

.sluzby .vc_col-sm-3:nth-child(4) .vc_column-inner,
.sluzby .vc_col-sm-3:nth-child(8) .vc_column-inner {
    padding-right: 1.5rem !important;
} */

.sluzby .vc_col-sm-12 .vc_inner {
    margin: 0 !important;
}

.sluzba .hover-foto,
.sluzba .hover-overlay,
.second-sticky-overlay,
.first-sticky-overlay,
.sluzby-podstranka .hover-foto,
.sluzby-podstranka .hover-overlay,
.produkty-podstranka .hover-overlay {
    opacity: 0;
    transition-property: background-color, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
}

.sluzba .hover-foto {
    background-image: url('img/background-img.jpg');
    background-size: cover;
    position: absolute;
    top: -10px;
    right: 0 !important;
    left: -10px;
    bottom: 10px;
    right: 0;
    width: 107%;
    height: 107%;
    z-index: 30;
    transition-property: background-color, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.2);
}

.sluzba.stavba .hover-foto,
.sluzby-podstranka .stavba .hover-foto {
    background-image: url('img/kategoria_stavba.jpg');
}

.sluzba.strecha .hover-foto {
    background-image: url('img/kategoria_strecha.jpg');
}

.sluzba.kupelne .hover-foto {
    background-image: url('img/kategoria_kupelne.jpg');
}

.sluzba.dvere .hover-foto {
    background-image: url('img/kategoria_dvere_a_podlahy.jpg');
}

.sluzba.zahrada .hover-foto {
    background-image: url('img/kategoria_zahrada.jpg');
}

.sluzba.farby .hover-foto {
    background-image: url('img/kategoria_farby_laky.jpg');
}

.sluzba.naradie .hover-foto {
    background-image: url('img/kategoria_naradie.jpg');
}

.sluzba.pozicovna .hover-foto,
.sluzby-podstranka .pozicovna .hover-foto {
    background-image: url('img/kategorie_pozicovna.jpg');
}

.timeline-header {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}

.sluzba .hover-overlay {
    background-image: url('img/triangle.png');
    background-size: 210%;
    background-position-x: -200px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    right: 0 !important;
    left: -10px;
    bottom: 10px;
    right: 0;
    width: 107%;
    height: 107%;
    z-index: 36;
}

.second-sticky-overlay {
    background-image: url('img/triangle.png');
    background-position-x: -290px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0 !important;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 36;
}

.first-sticky-overlay {
    background-image: url('img/triangle.png');
    background-position-x: -200px;
    background-position-y: 250px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0 !important;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 36;
}


.sluzba.strecha .hover-foto,
.sluzba.strecha .hover-overlay {
    left: -10px;
    right: 10px !important;
    width: 107%;
}

.sluzba.strecha .hover-foto,
.sluzba.strecha .hover-overlay,
.sluzba.kupelne .hover-foto,
.sluzba.kupelne .hover-overlay,
.sluzba.farby .hover-foto,
.sluzba.farby .hover-overlay,
.sluzba.naradie .hover-foto,
.sluzba.naradie .hover-overlay {
    left: -10px;
    right: 10px !important;
    width: 107%;
}

.sluzba.dvere .hover-foto,
.sluzba.dvere .hover-overlay,
.sluzba.pozicovna .hover-foto,
.sluzba.pozicovna .hover-overlay {
    left: -10px;
}

.sluzba:hover .hover-foto,
.sluzba:hover .hover-overlay,
.first-sticky:hover .first-sticky-overlay,
.sluzby-podstranka .box:hover .hover-foto,
.sluzby-podstranka .box:hover .hover-overlay,
.produkty-podstranka .ult-content-box:hover .hover-overlay {
    opacity: 1;
}

.sluzba:hover h4,
.sluzba:hover p,
.sluzba:hover p a {
    z-index: 40;
    position: relative;
    color: #fff !important;
    transition-property: background-color, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
}

/* ANIMACIA */

.sluzba:hover .hover-overlay, 
.second-sticky:hover .second-sticky-overlay,
.first-sticky:hover .first-sticky-overlay {
  animation: animationFrames ease 0.6s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 0.6s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 0.6s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 0.6s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}

/* VYHRNME SI RUKAVY SEKICA */

.border-pod-vlavo:after {
    content: "";
    width: 40px;
    height: 2px;
    display: block;
    margin: 20px 0;
    background: #E62444;
}

.border-pod-stred:after {
    content: "";
    width: 40px;
    height: 2px;
    display: block;
    margin: 20px auto;
    background: #E62444;
}

.vyhrnme-si-rukavy .text-17 {
    width: 425px;
}

/* VYPIS CLANKOV */

.kategorie a:first-child {
    display: none;
}

.kategorie a {
    position: absolute;
    background-color: #fff;
    color: #1C326A;
    text-transform: uppercase;
    padding: 10px 15px;
    bottom: 30px;
    left: 30px;
    font-size: 12px;
}

.kategorie a:hover {
    color: #fff !important;
    background-color: #1C326A;
}

.w-blog-list .w-blog-post-title {
    padding-top: 0px !important;
    color: #1C326A;
    font-weight: 400;
}

.w-blog-list .w-blog-post-title a:hover {
    color: #fff !important;
}

.w-blog-list .w-blog-post-body {
    padding: 30px;
    background-color: #fff;
    transition-property: background-color, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
    min-height: 187px;
}

.w-blog-list .w-blog-post-h:hover .w-blog-post-body {
    background-color: #2F3489;
    transition-property: background-color, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
}

.w-blog-list .w-blog-post-h:hover .w-blog-post-body .w-blog-post-meta time {
    color: #fff !important;
    opacity: .6;
}

.w-blog-list .w-blog-post-h:hover .w-blog-post-body .w-blog-post-title,
.w-blog-list .w-blog-post-h:hover .w-blog-post-body .read_more_link {
    color: #fff;
}

.w-blog-post-meta time {
    color: #101037 !important;
    opacity: .6;
    margin-bottom: 10px;
}

.w-blog-list .read_more_link {
    color: #E62444;
    text-transform: uppercase;
}

.w-blog-list .read_more_link:hover {
    color: #E62444;
}

.w-blog-list .read_more_link svg {
    margin-left: 10px;
}

/* DETAIL CLANKU */

.single .w-blog-post-meta-category:before {
    display: none;
}

.single .w-blog-post-meta-category a {
    background-color: #E62444;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    margin-right: 20px;
}

.single .w-blog-post-meta-category a:hover {
    color: #fff !important;
}

.single time {
    font-size: 14px;
    color: #101037;
    opacity: .6;
}

.single time::before {
    display: none;
}

.info-o-clanku {
    margin-bottom: 40px;
}

.single .l-titlebar.size_small {
    background-color: transparent;
}

.single .l-titlebar.size_small  .l-titlebar-h {
    justify-content: inherit;
    padding: 30px 0 20px;
    border-bottom: 1px solid rgba(28, 50, 106, .1);
}

.single .l-section.for_blogpost > .l-section-h,
.single .l-sidebar {
    padding-top: 40px;
}

.g-breadcrumbs a,
.g-breadcrumbs a:hover {
    color: #1C326A !important;
}

.info-o-clanku svg {
    margin-right: 5px;
    font-size: 13px;
}

.info-o-clanku time {
    font-size: 13px;
}

.vynatok {
    color: #222429;
    font-size: 20px;
    line-height: 32px;
}

.text-clanku {
    font-size: 18px;
    line-height: 28px;
    color: #77777E;
}

.w-blognav-title {
    font-size: 15px;
    color: #E62444;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    vertical-align: top;
}

.w-blognav-title:hover {
    color: #E62444 !important;
}

.w-blognav-item {
    padding: 0 !important;
}

.w-blognav-item.to_prev svg {
    float: left;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.w-blognav-title svg {
    font-size: 20px;
    margin: 0 10px;
}

.w-blognav-item:before {
    display: none;
} 

/* KATEGORIA CLANKOV */

.archive.category .l-titlebar-h .l-titlebar-content,
.archive.tag .l-titlebar-h .l-titlebar-content {
    display: none;
}

.archive.category .w-blog.layout_classic[class*="cols_"] .w-blog-post,
.archive.tag .w-blog.layout_classic[class*="cols_"] .w-blog-post {
    padding: 0 15px !important;
}

.archive.category .w-blog-post-h,
.archive.tag .w-blog-post-h {
    box-shadow: 0 0 30px 0 rgba(0,0,0,.10);
}

.archive.category .w-blog-post-title,
.archive.tag .w-blog-post-h {
    min-height: 66px;
}

.archive.category .l-titlebar.size_medium .l-titlebar-h,
.archive.tag .l-titlebar.size_medium .l-titlebar-h {
    justify-content: inherit;
    padding: 30px 0 20px;
    border-bottom: 1px solid rgba(28, 50, 106, .1);
}

.archive.category .l-titlebar.size_medium,
.archive.tag .l-titlebar.size_medium {
    background-color: transparent;
}

/* SIDEBAR */

.w-form-row.for_s input {
    border: 1px solid #E7E9EF;
    padding-left: 10px;
    font-size: 15px;
}

.w-form.for_search .w-btn {
    color: #E62444 !important;
    opacity: 1 !important;
    padding: 0 10px 0 0 !important; 
}

.w-form-row.for_s .w-form-row-field-bar {
    display: none;
}

.widgettitle {
    font-size: 15px !important;
    text-transform: uppercase;
}

.widget_categories li {
    padding-left: 0px !important;
    font-size: 18px;
}

.widget_categories li a {    
    color: #1C326A !important;
}

.widget_categories li:before {
    display: none;
}

.widget_categories {
    border-bottom: 1px solid rgba(28, 50, 106, .1);
    padding-bottom: 30px;
    margin-bottom: 30px !important;
}

.widget_categories li.current-cat a {
    color: #E62444 !important;
}

.tagcloud a {
    text-transform: uppercase;
    color: #1C326A;
    border: 1px solid rgba(28, 50, 106, .1);
    padding: 8px 15px;
    display: inline-block;
    margin-bottom: 5px;
}

.tagcloud a:hover {
    background-color: #1C326A !important;
    color: #fff !important;
}

.l-section.for_blognav {
    border-top-style: solid;
    border-color: rgba(28, 50, 106, .1);
}

/* SUVISIACE CLANKY */

.podobne-clanky {
    background-color: rgba(47,52,137,.03);
}

.podobne-clanky .w-blog-post-h h2 {
    font-size: 20px !important;
    margin-bottom: 20px !important;
}

/* FILTER */

.g-filters {
    display: flex;
    align-items: center;
}

.g-filters h4 {
    margin-bottom: 0px !important;
    margin-right: 30px;
}

.g-filters .g-filters-item {
    background-color: #fff;
    color: #1C326A;
    text-transform: inherit;
    opacity: 1;
    padding: 10px 15px !important;
    border-bottom: 0px !important;
    margin-right: 20px;
}

.g-filters .g-filters-item.active {
    background-color: #2F3489;
    color: #fff !important;
}

.g-filters .g-filters-item.active .pocet_clankov {
    color: #fff;
}

.g-filters .g-filters-item .pocet_clankov {
    border-left: 1px solid #E7EAF0;
    padding-left: 10px;
    margin-left: 10px;
    color: #E62444;
}

.g-loadmore-btn {
    display: inline-block;
    background-color: #E62444 !important;
    color: #fff;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
}

.head-polygons:before {
    position: absolute;
    content: url('img/svg-header.svg');
    width: 1028px;
    height: 723px;
    top: -100px;
    left: -200px;
}

/* SLUZBY */

.cls-1 {
    fill: #E62444;
}

.sluzby-podstranka .ult-content-box .ikonka svg {
    height: 50px;
    margin-bottom: 10px;
}

.sluzby-podstranka .box .ikonka svg {
    height: 50px;
    margin-bottom: 10px;
}

.sluzby-podstranka .box {
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1); 
    min-height: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 30px;
}

.sluzby-podstranka .box a.link {
    display: none;
}

.sluzby-podstranka .box p {
    color: #77777E;
}

.sluzby-podstranka .box h4 {
    color: #1C326A;
    margin-bottom: 5px !important;
    padding-top: 0px;
}

.sluzby-podstranka .doprava.box .ikonka svg {
    width: 55px;
    height: auto;
}

.sluzby-podstranka .doprava.box .doprava-svg {
    height: 66px;
    display: flex;
    align-items: center;
}

.sluzby-podstranka .box:hover .ikonka svg {
    position: relative;
    z-index: 40;
    top: 60px;
}

.sluzby-podstranka .box:hover a.link {
    display: block;
    position: relative;
    z-index: 40;
    color: #fff;
    top: 60px;
}

.sluzby-podstranka .box:hover svg .cls-1 {
    fill: #fff;
}

.sluzby-podstranka .box:hover h4 {
    color: #fff;
    position: relative;
    z-index: 40;
    top: 60px;
}

.sluzby-podstranka .box:hover .text-box {
    display: none;
}

.sluzby-podstranka .ult-content-box {
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1); 
    min-height: 250px;
    margin-bottom: 30px;
    overflow: hidden;
}

.sluzby-podstranka .ult-content-box .box-link a {
    display: none;
}

.sluzby-podstranka .ult-content-box p {
    color: #77777E;
}

.sluzby-podstranka .ult-content-box h4 {
    color: #1C326A;
    margin-bottom: 5px !important;
}

.sluzby-podstranka .g-cols.type_default>div>.vc_column-inner {
    padding: 0 15px !important;
}

.sluzby-podstranka .doprava .ult-content-box .ikonka svg {
    width: 55px;
    height: auto;
}

.sluzby-podstranka .doprava .ult-content-box .doprava-svg {
    height: 66px;
    display: flex;
    align-items: center;
}

.sluzby-podstranka .ult-content-box:hover .ikonka svg {
    position: relative;
    z-index: 40;
    top: 60px;
}

.sluzby-podstranka .ult-content-box:hover p a {
    display: block;
    position: relative;
    z-index: 40;
    color: #fff;
    top: 60px;
}

.sluzby-podstranka .ult-content-box:hover svg .cls-1 {
    fill: #fff;
}

.sluzby-podstranka .ult-content-box:hover h4 {
    color: #fff;
    position: relative;
    z-index: 40;
    top: 60px;
}

.sluzby-podstranka .ult-content-box:hover .text-box {
    display: none;
}

.sluzby-podstranka .hover-overlay {
    background-image: url('img/triangle.png');
    background-size: 145%;
    background-position-x: -170px;
    background-position-y: -50px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 15px !important;
    left: 15px;
    bottom: 30px;
    z-index: 36;
}

.sluzby-podstranka .hover-foto {
    background-image: url('img/background-img.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 15px !important;
    left: 15px;
    bottom: 30px;
    z-index: 30;
    transition-property: background-color, box-shadow, border, color, opacity, transform;
    transition-duration: 0.3s;
}

/* SEARCH */

.search .l-main {
    background-color: #F9F5F4;
}

.search .l-titlebar-h {
    border-bottom: 1px solid rgba(28, 50, 106, .1);
}

/* DODAVATELIA HOMEPAGE */

.dodavatelia-homepage img {
    height: 60px;
    width: 150px;
    object-fit: contain;
    margin-bottom: 40px;
}

/* SUCCESS HLASKA */

.okto-success-message {
    background-color: #26DE81;
    color: #fff;
    border-color: #26DE81;
    border-radius: 0px;
}

.newsletter .wpcf7-form-control-wrap.your-consent {
    color: #fff;
    margin-right: 68px;
    margin-top: 5px;
}

.newsletter .wpcf7-form-control-wrap.your-consent .wpcf7-list-item-label {
    padding-left: 10px;
}

.newsletter .wpcf7-form-control-wrap.your-consent a {
    color: #fff !important;
    text-decoration: underline;
}

.newsletter .wpcf7-form-control-wrap.your-consent input {
    margin-top: 4px;
}

span.wpcf7-form-control.wpcf7-checkbox.wpcf7-validates-as-required label {
    margin-bottom: 0px !important;
}

input[type="radio"]:checked + .wpcf7-list-item-label:before, input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    color: #E62444 !important;
}

.vernostny-program .active .w-tabs-item-title {
    font-size: 21px !important;
}

.vernostny-program .w-tabs .w-tabs-list-bar {
    background-color: #E62444 !important;
}

/* PAGE 404 */

.page-404:before {
    content: url('img/PecNamSpadla.gif');
    width: auto;
    height: auto;
    opacity: 1;
    display: none;
}

@media only screen and (max-width:1023px) {
    .len-pc {
        display: none;
    }

    .len-mobil-tablet {
        display: flex;
    }

    .sluzby-podstranka .box:hover .text-box {
        color: #77777E;
        display: block;
    }

    .sluzby-podstranka .box:hover h4 {
        color: #1C326A;
        margin-bottom: 5px !important;
        padding-top: 0px;
        position: inherit;
    }

    .sluzby-podstranka .box:hover svg .cls-1 {
        fill: #E62444;
    }

    .sluzby-podstranka .box:hover .ikonka svg {
        position: initial;
    }
}

@media only screen and (min-width:1024px) {
    .len-pc {
        display: flex;
    }

    .len-mobil-tablet {
        display: none;
    }
}

/* PRODUKTY BOXY */

.produkty-podstranka .ult-content-box .ikonka svg {
    height: 50px;
    margin-bottom: 10px;
}

.produkty-podstranka .ult-content-box {
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1); 
    min-height: 250px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}

.produkty-podstranka .ult-content-box .box-link a {
    display: none;
}

.produkty-podstranka .ult-content-box p {
    color: #77777E;
    display: none;
}

.produkty-podstranka .ult-content-box h4 {
    color: #fff;
    position: absolute;
    bottom: 0px;
}

.produkty-podstranka .g-cols.type_default>div>.vc_column-inner {
    padding: 0 15px !important;
}

.produkty-podstranka .ult-content-box:hover .box-link {
    display: block;
    position: relative;
    z-index: 40;
    color: #fff;
    top: 10px;
}

.produkty-podstranka .ult-content-box:hover .text-box p {
    display: block;
    position: relative;
    z-index: 40;
    top: 75px;
    color: #fff;
}

.produkty-podstranka .ult-content-box:hover h4 {
    color: #fff;
    position: relative;
    z-index: 40;
    top: 90px;
}

.produkty-podstranka .hover-overlay {
    background-image: url('img/triangle.png');
    background-size: 200%;
    background-position-x: -205px;
    background-position-y: -95px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px !important;
    left: 0px;
    bottom: 0px;
    z-index: 36;
}

.produkty-podstranka .ult-content-box:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(41deg, #101037 0%, rgba(16, 16, 55, 0.69) 45%, rgba(3, 13, 38, 0) 100%);
}

/* DETAIL PRODUKTU (KATEGORIE) */

.title-detail-kategorie {
    overflow: hidden;
}

.title-detail-kategorie .l-section-h {
    z-index: 5;
}

.title-detail-kategorie:before {
    content: url('img/overlay-kat-det.png');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;
}

.title-detail-kategorie .g-breadcrumbs a, 
.title-detail-kategorie .g-breadcrumbs a:hover {
    color: #fff !important
}

.title-detail-kategorie p {
    font-size: 20px;
    opacity: .7;
}

.w-image {
    margin-bottom: 0px;
}

.obrazky .vc_column-inner {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

section#dole {
    margin-top: -110px;
    position: relative;
    z-index: 10;
}

section#dole:before {
    content: "";
    background-color: #fff;
    width: 1310px;
    margin: 0 auto;
    display: block;
    height: 300px;
    z-index: 0;
    position: absolute;
    left: 305px;
    top: 20px;
}

/* CIERNOBIELE OBRAZKY */

.cb-loga img:hover {
  -webkit-filter: grayscale(0%); /* For Webkit browsers */
  -webkit-transition: .5s ease-in-out; /* For Webkit browsers */
  -moz-filter: grayscale(0%); /* For Firefox */
  -moz-transition: .5s ease-in-out; /* For FireFox */
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  opacity: 1;
} 
 
.cb-loga img {
  -webkit-filter: grayscale(100%); /* For Webkit browsers */
  -webkit-transition: .5s ease-in-out; /* For Webkit browsers */
  -moz-filter: grayscale(100%); /* For Firefox */
  -moz-transition: .5s ease-in-out; /* For Firefox */
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out;
  opacity: .5;
}

.cb-loga .vc_column-inner {
    align-items: center;
}

.l-subheader.at_middle .type_mobile .w-nav-list.level_1 {
    z-index: 60;
}

/* CONTACT FORM NOTIFIKACIE */

div.wpcf7-mail-sent-ok {
    background-color: #26DE81;
}

div.wpcf7 .ajax-loader {
    position: absolute;
}

.contact-form div.wpcf7-spam-blocked, .contact-form div.wpcf7-validation-errors {
    background-color: #FFA500;
    color: #fff !important;
}

.wpcf7-form-control.wpcf7-checkbox {
    padding: 0;
}

.wpcf7-not-valid-tip {
    text-align: left;
}

.modal-vernostny-program .wpcf7-acceptance .wpcf7-list-item-label span {
    top: -20px;
} 

/* NAVIGACIA V SLUZBACH */

.navigacia svg {
    font-size: 21px;
    color: #E62444;
}

.navigacia a {
    display: flex;
    align-items: center;
    font-size: 21px;
    color: #77777E;
}

.navigacia {
    padding-top: 4px;
}

.navigacia.vpravo a {
    justify-content: flex-end;
}

.navigacia.vpravo svg {
    margin-left: 20px;
}

.navigacia.vlavo svg {
    margin-right: 20px;
}

/* POZICOVNA PREDMETY */

.jeden-predmet {
    padding: 50px;
    box-shadow: 0 3px 50px 0 rgba(0,0,0,.1);
    margin-bottom: 30px;
}

.title-predmetu h5 {
    font-size: 21px;
    color: #222429;
    font-weight: 700;
    min-height: 58px;
}

.popis-predmetu p {
    color: #77777E;
    font-size: 15px;
}

.jeden-predmet .obrazok {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    height: 200px;
}

.jeden-predmet .obrazok img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}

.jeden-predmet .cena {
    background-color: #E62444;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 20px;
    color: #fff;

}


@media only screen and (min-width: 1600px) and (max-width: 1919px) {
    .ush_menu_3 {
        display: none;
    }

    section#dole:before {
        left: 150px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
    .ush_menu_3 {
        display: none;
    }

    section#dole:before {
        left: 70px;
    }

    .title-detail-kategorie:before {
        left: -250px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 50% !important;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {
    .ush_menu_3 {
        display: none;
    }

    section#dole:before {
        left: 30px;
    }

    .title-detail-kategorie:before {
        left: -250px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 50% !important;
    } 
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
    .ush_menu_3 {
        display: none;
    }

    .title-detail-kategorie:before {
        left: -350px;
    }

    section#dole:before {
        left: 0px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 50% !important;
    } 
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    section#dole {
        margin-top: 0;
    }

    .title-detail-kategorie:before {
        left: -550px;
    }

    .sluzby {
        padding: 0px !important;
    }
    
    .sluzby .vc_col-sm-12 .vc_inner {
        margin: 0 !important;
    }

    .sluzby .vc_col-sm-12 {
        max-width: 1024px;
    }

    .slider-nadpis, 
    .slider-primary-btn {
        left: 80px !important;
    }

    .slider-secondary-btn {
        left: 100px !important;
    }

    .tp-leftarrow {
        left: -20px !important;
    }

    .tp-rightarrow {
        left: 102% !important;
    }

    .ush_menu_3 {
        display: none;
    }

    .podobne-clanky {
        padding: 0 40px;
    }
    
    .w-blognav-title {
        font-size: 14px;
    }

    .produkty-podstranka .ult-content-box:hover .text-box p {
        top: 40px !important;
    }
    .produkty-podstranka .ult-content-box:hover h4 {
        top: 55px !important;
    }

    .sluzby-podstranka .hover-overlay {
        background-position-y: 10px;
    }

    .header_hor .w-nav.type_desktop .menu-item-64 .w-nav-list.level_2 {
        padding: 20px !important;
        width: 108.5% !important;
        left: -40px !important;
        border-top: 1px solid rgba(0,0,0,.2);
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 80% !important;
    } 

    .modal-vernostny-program .contact-checkbox {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    section#dole {
        margin-top: 0;
    }

    .title-detail-kategorie:before {
        left: -550px;
    }

    .head-polygons:before {
        display: none;
    }

    .ush_menu_1,
    .ush_menu_2 {
        display: none;
    }

    .slider-nadpis, 
    .slider-primary-btn {
        left: 40px !important;
    }

    .slider-secondary-btn {
        left: 80px !important;
    }

    .tp-leftarrow {
        left: -20px !important;
    }

    .tp-rightarrow {
        left: 102% !important;
    }

    .sluzby {
        padding: 0px !important;
    }
    
    .sluzby .vc_col-sm-12 .vc_inner {
        margin: 0 !important;
    }

    .sluzby .vc_col-sm-12 {
        max-width: 768px;
    }

    .vyhrnme-si-rukavy .text-17 {
        width: 100%;
    }

    .zoznam-podkategorii {
        display: none;
    }

    .sluzba .ult-content-box {
        padding: 25px !important;
        min-height: 220px !important;
    }

    .sluzba .ult-content-box h4 {
        height: 54px;
    }

    .wpcf7-form p {
        text-align: left;
    }

    footer .vc_col-sm-6:nth-child(1) .vc_column-inner,
    footer .vc_col-sm-6:nth-child(2) .vc_column-inner {
        min-height: 310px;
    }

    .sluzby {
        margin-top: 0px;
    }    

    .sluzba:hover .hover-foto, 
    .sluzba:hover .hover-overlay, 
    .first-sticky:hover .first-sticky-overlay, 
    .second-sticky:hover .second-sticky-overlay,
    .sluzby-podstranka .ult-content-box:hover .hover-foto, 
    .sluzby-podstranka .ult-content-box:hover .hover-overlay, 
    .produkty-podstranka .ult-content-box:hover .hover-overlay {
        display: none !important;
    }

    .sluzba:hover h4 {
        color: #222429 !important;
    }

    .sluzba:hover p a {
        color: #E62444 !important;
    }
    
    .sluzba img {
        height: 45px;
    }

    .sluzba .w-image {
        margin-bottom: 20px !important;
    }

    .header_hor .l-subheader-cell.at_right .w-nav:last-child .w-nav-control {
        margin-right: 0.2rem;
    }

    .sluzby-podstranka .hover-overlay,
    .sluzby-podstranka .hover-foto {
        display: none;
    }

    .sluzby-podstranka .ult-content-box:hover svg {
        position: initial !important;  
    }

    .sluzby-podstranka .ult-content-box:hover svg .cls-1 {
        fill: #E62444;
    }

    .sluzby-podstranka .ult-content-box:hover h4 {
        color: #1C326A;
        position: initial;
    }

    .sluzby-podstranka .ult-content-box:hover .text-box {
        display: block;
    }

    .sluzby-podstranka .ult-content-box:hover .box-link a {
        display: none;
    }

    .sluzby-podstranka .ult-content-box:hover .box-link a {
        display: none;
    }

    .sluzby-podstranka .g-cols.type_default>div[class*="vc_col-md-"], 
    .sluzby-podstranka .g-cols.type_default>div[class*="vc_col-lg-"]   {
        margin-top: 0rem !important;
        margin-bottom: 0rem !important;
    }

    .podobne-clanky {
        padding: 0 40px;
    }

    .podobne-clanky .w-blog-list .w-blog-post-body {
        padding: 20px;
    }

    .podobne-clanky .w-blog-post-h h2 {
        font-size: 18px !important;
    }

    .g-filters {
        display: initial;
        text-align: left;
    }

    .g-filters h4 {
        margin-bottom: 10px !important;
    }

    .druhy-clanok {
        float: left;
        padding-left: 0px;
        margin-top: 30px;
    }

    .treti-clanok {
        float: right;
        padding-right: 0px;
    }
    
    .first-sticky {
        height: 300px;
    }

    .produkty-podstranka .ult-content-box:hover h4 {
        top: 40px;
    }

    .produkty-podstranka .ult-content-box:hover .text-box p {
        top: 35px;
    }

    .first-sticky:hover:before, .second-sticky:hover:before {
        background-image: linear-gradient(41deg, #101037 0%, rgba(16, 16, 55, 0.69) 45%, rgba(3, 13, 38, 0) 100%);
    }

    .wpcf7 {
        text-align: left;
    } 

    .newsletter .wpcf7-form-control-wrap.your-consent {
        margin-right: 0px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 80% !important;
    } 

    .modal-vernostny-program .contact-checkbox {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    section#dole {
        margin-top: 0;
    }

    .title-detail-kategorie:before {
        left: -550px;
    }

    .first-sticky {
        height: 300px;
    }

    .druhy-clanok {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }

    .treti-clanok {
        padding-left: 0px;
        padding-right: 0px;
    }

    .head-polygons:before {
        display: none;
    }

    .produkty-podstranka .g-cols.type_default>div>.vc_column-inner {
        padding: 0 26px !important;
    }

    .produkty-podstranka .ult-content-box h4 {
        margin-bottom: 0px !important;
        bottom: 25px;
    }

    .sluzba:hover h4 {
        color: #222429 !important;
    }

    .sluzba:hover p a {
        color: #E62444 !important;
    }

    .tp-leftarrow {
        left: -20px !important;
    }

    .tp-rightarrow {
        left: 102% !important;
    }

    .sluzby {
        padding: 0px 30px !important;
    }
    
    .sluzby .vc_col-sm-12 .vc_inner {
        margin: 0 !important;
    }

    .sluzby .vc_col-sm-12 {
        max-width: 320px;
        margin: 0 auto !important;
    }

    .tp-bgimg.defaultimg {
        background-position: center left !important;
        background-position-x: -250px !important;
    }

    .sluzba:hover .zoznam-podkategorii p {
        color: #1C326A !important;
    }

    .produkty-podstranka .ult-content-box:hover h4 {
        bottom: 25px !important;
        position: absolute;
        top: unset;
    }

    .produkty-podstranka .g-cols.type_default>div[class*="vc_col-xs-"] {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    .sluzba:hover .hover-foto,
    .sluzba:hover .hover-overlay,
    .first-sticky:hover .first-sticky-overlay,
    .second-sticky:hover .second-sticky-overlay,
    .sluzby-podstranka .ult-content-box:hover .hover-foto,
    .sluzby-podstranka .ult-content-box:hover .hover-overlay,
    .produkty-podstranka .ult-content-box:hover .hover-overlay {
        display: none;
    }

    .produkty-podstranka .ult-content-box:hover .text-box p {
        display: none;
    }

    .najnovsie-clanky .w-btn-wrapper {
        position: absolute;
    }

    .w-img.ush_image_1 {
        height: 85px;
    }

    .w-img .w-img-h {
        height: 50px;
    }

    .ush_menu_1 .w-nav-anchor.level_1 {
        height: initial;
        line-height: initial;
    }

    .ush_menu_1,
    .ush_menu_2 {
        display: none;
    }

    .vyhrnme-si-rukavy .text-17 {
        width: 100%;
    }

    .wpcf7-form p {
        text-align: left;
    }

    .newsletter input[type="submit"] {
        margin-left: 0px;
    }

    .newsletter input[type="email"] {
        margin-bottom: 20px;
    }

    .sluzby-podstranka .hover-overlay,
    .sluzby-podstranka .hover-foto {
        display: none;
    }

    .sluzby-podstranka .ult-content-box:hover svg {
        position: initial !important;  
    }

    .sluzby-podstranka .ult-content-box:hover svg .cls-1 {
        fill: #E62444;
    }

    .sluzby-podstranka .ult-content-box:hover h4 {
        color: #1C326A;
        position: initial;
    }

    .sluzby-podstranka .ult-content-box:hover .text-box {
        display: block;
    }

    .sluzby-podstranka .ult-content-box:hover .box-link a {
        display: none;
    }

    .l-titlebar .g-breadcrumbs {
        display: block;
    }

    .l-titlebar.size_small .l-titlebar-h, .l-titlebar.size_medium .l-titlebar-h {
        text-align: left;
    }

    .l-section.for_blognav {
        display: none;
    }   

    .podobne-clanky {
        padding: 0 30px;
    }

    .g-filters {
        display: initial;
        text-align: left;
    }

    .g-filters h4 {
        margin-bottom: 10px !important;
    }
    
    .g-filters .g-filters-item {
        width: auto;
        margin-right: 10px !important;
        margin-bottom: 10px !important;
    }

    .g-loadmore-btn {
        padding: 0 30px !important;
    }

    .archive.category .w-blog.layout_classic[class*="cols_"] .w-blog-post, .archive.tag .w-blog.layout_classic[class*="cols_"] .w-blog-post {
        padding: 0 30px !important;
    }

    .first-sticky:hover:before, .second-sticky:hover:before {
        background-image: linear-gradient(41deg, #101037 0%, rgba(16, 16, 55, 0.69) 45%, rgba(3, 13, 38, 0) 100%);
    }

    .obrazky .w-image-h {
        text-align: center;
    }

    .navigacia a {
        justify-content: center !important;
    }

    .wpcf7 {
        text-align: left;
    } 

    .newsletter .wpcf7-form-control-wrap.your-consent {
        margin-right: 0px;
    }

    .modal-vernostny-program .ult_modal .ult_modal-body {
        padding: 20px;
    }

    .modal-vernostny-program .ult_modal-body > p {
        margin-bottom: 0px;
    }

    .contact-form {
        padding-bottom: 0px !important;
    }

    .modal-vernostny-program .contact-checkbox span.wpcf7-list-item {
        margin-right: 0px !important;
    }
    
    .modal-vernostny-program .contact-checkbox {
        margin-bottom: 20px;
    }

    .modal-vernostny-program .contact-form .row:nth-child(3) {
        margin-bottom: 0px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 90% !important;
    }
}

@media only screen and (max-width: 374px) {
    section#dole {
        margin-top: 0;
    }

    .title-detail-kategorie:before {
        left: -550px;
    }

    .first-sticky {
        height: 300px;
    }

    .druhy-clanok {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 30px;
    }

    .treti-clanok {
        padding-left: 0px;
        padding-right: 0px;
    }

    .g-filters {
        display: initial;
        text-align: left;
    }

    .g-filters h4 {
        margin-bottom: 10px !important;
    }
    
    .g-filters .g-filters-item {
        width: auto;
        margin-right: 10px !important;
        margin-bottom: 10px !important;
    }

    .g-loadmore-btn {
        padding: 0 30px !important;
    }

    .head-polygons:before {
        display: none;
    }

    .produkty-podstranka .g-cols.type_default>div>.vc_column-inner {
        padding: 0 26px !important;
    }

    .produkty-podstranka .ult-content-box h4 {
        margin-bottom: 0px !important;
        bottom: 25px;
        padding-right: 30px;
    }

    .sluzba:hover h4 {
        color: #222429 !important;
    }

    .sluzba:hover p a {
        color: #E62444 !important;
    }

    .tp-leftarrow {
        left: -20px !important;
    }

    .tp-rightarrow {
        left: 102% !important;
    }

    .sluzby {
        padding: 0px 30px !important;
    }
    
    .sluzby .vc_col-sm-12 .vc_inner {
        margin: 0 !important;
    }

    .sluzby .vc_col-sm-12 {
        max-width: 285px;
        margin: 0 auto !important;
    }

    .tp-bgimg.defaultimg {
        background-position: center left !important;
        background-position-x: -250px !important;
    }

    .sluzba:hover .zoznam-podkategorii p {
        color: #1C326A !important;
    }

    .produkty-podstranka .ult-content-box:hover h4 {
        bottom: 25px !important;
        position: absolute;
        top: unset;
    }

    .produkty-podstranka .g-cols.type_default>div[class*="vc_col-xs-"] {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    .sluzba:hover .hover-foto,
    .sluzba:hover .hover-overlay,
    .first-sticky:hover .first-sticky-overlay,
    .second-sticky:hover .second-sticky-overlay,
    .sluzby-podstranka .ult-content-box:hover .hover-foto,
    .sluzby-podstranka .ult-content-box:hover .hover-overlay,
    .produkty-podstranka .ult-content-box:hover .hover-overlay {
        display: none;
    }

    .produkty-podstranka .ult-content-box:hover .text-box p {
        display: none;
    }

    .najnovsie-clanky .w-btn-wrapper {
        position: absolute;
    }

    .w-img.ush_image_1 {
        height: 85px;
    }

    .w-img .w-img-h {
        height: 50px;
    }

    .ush_menu_1 .w-nav-anchor.level_1 {
        height: initial;
        line-height: initial;
    }

    .ush_menu_1,
    .ush_menu_2 {
        display: none;
    }

    .vyhrnme-si-rukavy .text-17 {
        width: 100%;
    }

    .wpcf7-form p {
        text-align: left;
    }

    .newsletter input[type="submit"] {
        margin-left: 0px;
    }

    .newsletter input[type="email"] {
        margin-bottom: 20px;
        width: 100%;
    }

    .sluzby-podstranka .hover-overlay,
    .sluzby-podstranka .hover-foto {
        display: none;
    }

    .sluzby-podstranka .ult-content-box:hover svg {
        position: initial !important;  
    }

    .sluzby-podstranka .ult-content-box:hover svg .cls-1 {
        fill: #E62444;
    }

    .sluzby-podstranka .ult-content-box:hover h4 {
        color: #1C326A;
        position: initial;
    }

    .sluzby-podstranka .ult-content-box:hover .text-box {
        display: block;
    }

    .sluzby-podstranka .ult-content-box:hover .box-link a {
        display: none;
    }

    .l-titlebar .g-breadcrumbs {
        display: block;
    }

    .l-titlebar.size_small .l-titlebar-h, .l-titlebar.size_medium .l-titlebar-h {
        text-align: left;
    }

    .l-section.for_blognav {
        display: none;
    }   

    .podobne-clanky {
        padding: 0 20px;
    }

    .archive.category .w-blog.layout_classic[class*="cols_"] .w-blog-post, .archive.tag .w-blog.layout_classic[class*="cols_"] .w-blog-post {
        padding: 0 20px !important;
    }
    
    .first-sticky:hover:before, .second-sticky:hover:before {
        background-image: linear-gradient(41deg, #101037 0%, rgba(16, 16, 55, 0.69) 45%, rgba(3, 13, 38, 0) 100%);
    }

    .obrazky .w-image-h {
        text-align: center;
    }

    .navigacia a {
        justify-content: center !important;
    }

    .wpcf7 {
        text-align: left;
    } 

    .newsletter .wpcf7-form-control-wrap.your-consent {
        margin-right: 0px;
    }

    .modal-vernostny-program .ult_modal .ult_modal-body {
        padding: 20px;
    }

    .modal-vernostny-program .ult_modal-body > p {
        margin-bottom: 0px;
    }

    .contact-form {
        padding-bottom: 0px !important;
    }

    .modal-vernostny-program .contact-checkbox span.wpcf7-list-item {
        margin-right: 0px !important;
    }
    
    .modal-vernostny-program .contact-checkbox {
        margin-bottom: 20px;
    }

    .modal-vernostny-program .contact-form .row:nth-child(3) {
        margin-bottom: 0px;
    }

    .ult_modal.ult-container, .ult_modal.ult-medium, .ult_modal.ult-small {
        width: 90% !important;
    }
    
}