/*
Theme Name: Zephyr Child
Template: Zephyr
Version: 1.0
Author:	UpSolution
Theme URI: http://zephyr.us-themes.com/
Author URI: http://us-themes.com/
*/
@media only screen and (min-width: 1280px) {
    .menu-hover:hover {
        box-shadow: inset 0px -3px 0px #fff;
    }

    .menu-hover.current-menu-item {
        box-shadow: inset 0px -3px 0px #801325;
    }
}

.menu-item.current-menu-item .w-nav-title {
    color: #fff;
}

.contact-block {
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.1);
    width: 42% !important;
    position: relative;
    top: -174px;
    z-index: 1;
    background: #fff;
    left: 80px;
}

@media only screen and (max-width: 1024px) {
    .contact-block {
        top: 15px;
        margin-bottom: 6rem !important;
        width: 83% !important;
    }
}

@media only screen and (max-width: 768px) {
    .contact-block {
        top: 15px;
        margin-bottom: 6rem !important;
        width: 78% !important;
    }
}

@media only screen and (max-width: 426px) {
    .contact-block {
        top: 25px;
        margin-bottom: 6rem !important;
        width: 87% !important;
        left: 28px;
    }
}

@media only screen and (max-width: 375px) {
    .contact-block {
        top: 25px;
        margin-bottom: 6rem !important;
        width: 87% !important;
        left: 25px;
    }
}

@media only screen and (max-width: 320px) {
    .contact-block {
        top: 25px;
        margin-bottom: 6rem !important;
        width: 83% !important;
        left: 25px;
    }
}

 .contact-form-contact {
    padding: 39px 35px;
} 

.modal-vernostny-program .ult_modal .ult_modal-body {
    padding: 50px 70px;
}

.modal-vernostny-program h2 {
    margin-bottom: 0px;
}

.modal-vernostny-program .ult_modal-body > p {
    margin-bottom: 30px;
}

@media only screen and (max-width: 426px) {
    .contact-form-contact {
        padding: 20px 0;
    }
    .contact-form {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 375px) {
    .contact-form-contact {
        padding: 20px 0;
    }
    .contact-form {
        padding: 20px 0;
    }
}


.contact-form-contact label {
    width: 100%;
    text-align: left;
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: #222429;
}

.contact-form label {
    width: 100%;
    text-align: left;
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 32px;
    color: #222429;
}

.contact-form-contact .row {
    margin-bottom: 30px;
}

.contact-form .row {
    margin-bottom: 30px;
}

.contact-form-contact label span {
    color: black;
    position: relative;
    display: block;
    line-height: 1.2;
}

.contact-form label span {
    color: black;
    position: relative;
    display: block;
    line-height: 1.2;
}
.contact-form-contact .wpcf7-form-control-wrap input,
.contact-form-contact .wpcf7-form-control-wrap textarea {
    border: 1px solid rgba(3, 13, 38, 0.15) !important;
}

.contact-form .wpcf7-form-control-wrap input,
.contact-form .wpcf7-form-control-wrap textarea {
    border: 1px solid rgba(3, 13, 38, 0.15) !important;
}

.contact-form-contact .wpcf7-form-control-wrap.meno-priezvisko,
.contact-form-contact .wpcf7-form-control-wrap.spolocnost,
.contact-form-contact .wpcf7-form-control-wrap.mailik,
.contact-form-contact .wpcf7-form-control-wrap.tel-120,
.contact-form-contact .wpcf7-form-control-wrap.meno-priezvisko input[type="text"],
.contact-form-contact .wpcf7-form-control-wrap.spolocnost input[type="text"],
.contact-form-contact .wpcf7-form-control-wrap.ico input[type="text"],
.contact-form-contact .wpcf7-form-control-wrap.mailik input[type="email"],
.contact-form-contact .wpcf7-form-control-wrap.tel-120 input[type="tel"] {
    height: 40px;
}

.contact-form .wpcf7-form-control-wrap.meno-priezvisko,
.contact-form .wpcf7-form-control-wrap.spolocnost,
.contact-form .wpcf7-form-control-wrap.mailik,
.contact-form .wpcf7-form-control-wrap.tel-120,
.contact-form .wpcf7-form-control-wrap.meno-priezvisko input[type="text"],
.contact-form .wpcf7-form-control-wrap.spolocnost input[type="text"],
.contact-form .wpcf7-form-control-wrap.ico input[type="text"],
.contact-form .wpcf7-form-control-wrap.mailik input[type="email"],
.contact-form .wpcf7-form-control-wrap.tel-120 input[type="tel"] {
    height: 40px;
}

.contact-form-contact .wpcf7-form-control-wrap.spravicka {
    padding: 5px 0px;
}

.contact-form .wpcf7-form-control-wrap.spravicka {
    padding: 5px 0px;
}

.contact-form-contact .wpcf7-form-control-wrap.spravicka textarea{
    border-style: none;
}

.contact-form .wpcf7-form-control-wrap.spravicka textarea{
    border-style: none;
}

.contact-form-contact .checkbox-321 {
    border: 0;
}

.contact-form .checkbox-321 {
    border: 0;
}

.contact-form-contact input {
    border-width: 0 !important;
    padding: 10px;
}

.contact-form input {
    border-width: 0 !important;
    padding: 10px;
}

.contact-form-contact textarea {
    padding: 10px;
}

.contact-form textarea {
    padding: 10px;
}

.contact-form-contact .wpcf7-submit {
    background: #e62444 !important;
    box-shadow: none;
    font-weight: 700;
    border-radius: 0px;
    line-height: 50px;
    height: 50px;
    padding: 0 30px !important;
}

.contact-form .wpcf7-submit {
    background: #e62444 !important;
    box-shadow: none;
    font-weight: 700;
    border-radius: 0px;
    line-height: 50px;
    height: 50px;
    padding: 0 30px !important;
}

.contact-form-contact .wpcf7-form-control.wpcf7-submit {
    margin-top: 15px;
}

.contact-form .wpcf7-form-control.wpcf7-submit {
    margin-top: 15px;
}

.contact-form-contact .wpcf7-submit:hover {
    box-shadow: none !important;
    background-color: #c21e39 !important;
}

.contact-form .wpcf7-submit:hover {
    box-shadow: none !important;
    background-color: #c21e39 !important;
}

.contact-form-contact .wpcf7-checkbox .wpcf7-list-item-label:before {
    color: rgba(3, 13, 38, 0.3);
}

.contact-form .wpcf7-checkbox .wpcf7-list-item-label:before {
    color: rgba(3, 13, 38, 0.3);
}

.contact-form-contact .contact-checkbox .wpcf7-list-item-label {
    font-size: 15px;
}

.contact-form .contact-checkbox .wpcf7-list-item-label {
    font-size: 15px;
}

.contact-form-contact .wpcf7-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    color: #e62444 !important;
}

.contact-form .wpcf7-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    color: #e62444 !important;
}

.page-id-12 .l-titlebar-content h1,
.page-id-3280 .l-titlebar-content h1 {
    text-align: left;
    bottom: -60px;
    position: relative;
}

@media only screen and (max-width: 1024px) {
    .page-id-12 .l-titlebar-content h1 {
        bottom: auto;
        text-align: center;
    }
}

.hviezdicka {
    color: #e62444 !important;
    display: inline !important;
}

.sivy-text {
    color: #77777e;
}

.sivy-text .nadpis {
    display: inline;
    color: #222429;
    font-weight: 700;
}

.sivy-text .mail {
    color: #e62444;
}

.sivy-text .mail a,
.referent-mail p a,
.referent-tel p a {
    color: #e62444;
}

.sivy-text .mail a:hover,
.referent-mail p a:hover,
.referent-tel p a:hover {
    color: #e62444;
    text-decoration: underline;
}

.najdete-nas {
    color: #e62444;
}

.bankove-spojenia {
    font-size: 14px;
    font-weight: 700;
}

.contact-section .l-section-h.i-cf {
    padding-bottom: 0 !important;
}

.contact-section-2 .l-section-h.i-cf {
    padding-top: 0 !important;
}

.referenti {
    line-height: 65px;
}

@media only screen and (max-width: 1024px) {
    .referenti {
        line-height: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .referenti {
        line-height: 5px;
    }
}

.referent-meno {
    color: #222429;
}

.referent-tel {
    color: #77777e;
}

.referent-mail {
    color: #e62444;
}


.referenti-section .w-tabs-section-content-h {
    padding: 15px 20px 15px !important;
}

.referenti-section .w-tabs-section-header {
    border-color: rgb(28, 50, 106, 0.1);
}

.referenti-section .w-tabs-section-title {
    color: #222429;
    font-size: 20px;
    font-weight: 700;
}

.referenti-section .w-tabs-section-control:before {
    color: #e62444;
}

.referenti-section-2 .w-tabs-section-content-h {
    padding: 15px 20px 15px !important;
}

.referenti-section-2 .w-tabs-section-header {
    background: #f8f9fb;
    border-color: rgb(28, 50, 106, 0.1);
}

.referenti-section-2 .w-tabs-section-title {
    color: #222429;
    font-size: 20px;
    font-weight: 700;
}

.referenti-section-2 .w-tabs-section-control:before {
    color: #e62444;
}

@media only screen and (max-width: 1024px) {
    .referenti-section .vc_column_container,
    .referenti-section-2 .vc_column_container {
        width: 100%;
    }
    .referenti-section .align_center,
    .referenti-section-2 .align_center {
        text-align: left;
    }
}

@media only screen and (max-width: 426px) {
    .vernostny-program .active .w-tabs-section-title {
        margin-left: 15px;
        color: #e62444;
        font-size: 16px;
    }

    .vernostny-program .w-tabs-section-title {
        margin-left: 15px;
        font-size: 16px;
    }
}
.w-tabs.accordion .w-tabs-section.referenti-section-2  {
    border-width: 0 0 0 0;
}

.dodavatelia h4{
    font-size: 15px;
}

.sticky-posts img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.first-sticky {
    position: relative;
    height: 630px;
    overflow: hidden;
}

.first-sticky:before, .second-sticky:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(41deg, #101037 0%, rgba(16, 16, 55, 0.69) 45%, rgba(3, 13, 38, 0) 100%);
}

.first-sticky:hover:before , .second-sticky:hover:before {
    background-image: none; 
}

.first-sticky .data{
    position: absolute;
    margin-left: 50px;
    bottom: 50px;
    z-index: 40;
    margin-right: 50px;
}

.first-sticky .data .title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
}

.first-sticky .data .date {
    display: inline;
    color: rgb(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.first-sticky .data .date-block{
    display: block;
}

.first-sticky .data .category-block{
    display: block;
    margin-bottom: 15px;
}

.first-sticky .data .category {
    color: #1c326a;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    background: #fff;
    padding: 10px 15px;
}
@media only screen and (max-width: 768px) {
    .first-sticky .data {
        margin-left: 30px;
        bottom: 30px;
    }
}
@media only screen and (max-width: 425px) {
    .first-sticky .data {
        margin-left: 30px;
        bottom: 30px;
    }
    
    .first-sticky .data .title {
        font-size: 20px;
    }
}
.second-sticky {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.second-sticky .data{
    position: absolute;
    margin-left: 30px;
    bottom: 30px;
    z-index: 40;
}

.second-sticky .data .title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    max-width: 257px;

}

.second-sticky .data .date {
    display: inline;
    color: rgb(255, 255, 255, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.second-sticky .data .date-block{
    display: block;
}

.second-sticky .data .category-block{
    display: block;
    margin-bottom: 15px;
}

.second-sticky .data .category {
    color: #1c326a;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    background: #fff;
    padding: 10px 15px;
}

.mrg-t-30 {
    margin-top: 30px;
}

.border-pod-center:after {
    content: "";
    width: 40px;
    height: 2px;
    display: block;
    margin: 15px auto;
    background: #E62444;
}
/*
.vernostny-program .headline-text,
.stavba .headline-text  {
    width: 570px;
    margin: 0 auto;
    display: block;
}
*/

.sivy-text.headline-text {
    font-size: 20px;
}

.poradenstvo {
    padding-top: 25px !important;
}

.poradenstvo .w-image {
    margin-bottom: 0; 
}

.poradenstvo .vc_column-inner {
    margin-top: 15px;
}


.karta-tab .karta-zakaznika p, .karta-tab .karta-zakaznika div {
    color: #77777e;
}

.karta-tab .button {
    background-color: #e62444;
    padding: 5px 20px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 60px;
}

.karta-tab ul {
    margin: 0 0 1em 0;
    padding: 0 0 0 1em; /* make space for li's :before */
    list-style: none;
}

.karta-tab li {
    position: relative;
    padding-left: 10px; /* text distance to icon */
    color: #77777e;

}

.karta-tab li:before {
    font-family: 'FontAwesome';
    content: '\f0c8';
    position: absolute;
    left: -1em; /* same as ul padding-left */
    font-size: 7px;
    line-height: 22.5px;
    color: #e62444;
}

.karta-tab .wpb_wrapper h2 {
    width: 80%;
}

.vernostny-program .active .w-tabs-item-title {
    color: #e62444;
    margin-left: 12px;
    text-transform: none !important;
    font-size: 15px;
}

.vernostny-program .active .fa-id-card {
    color: #e62444;
}

.vernostny-program .w-tabs .w-tabs-list {
    border-color: #e7e9ef;
}


.vernostny-program .w-tabs .w-tabs-list-bar {
    background-color: #e7e9ef;
}

.vernostny-program .w-tabs-item-h {
    color: #666666 !important;
}

.vernostny-program .w-tabs-item-title {
    margin-left: 12px;
    text-transform: none !important;
}

.category-text {
    color: #77777e;
}


.category-section-padding .l-section-h {
    padding: 0 0 80px 0 !important;
}

.category-section-padding p {
    font-size: 15px;
    line-height: 25px;
}

.category-section-padding blockquote {
    color: #1c326a;
    border-width: 0;
    padding: 35px 95px;
    font-weight: 500;
    text-align: left;
}

.category-section-padding blockquote p {
    font-size: 20px;
    line-height: 32px;
    font-style: normal;
}

.category-section-padding blockquote p:before {
    position: absolute;
    content: '"';
    left: 55px;
    font-size: 100px;
    opacity: 0.2;
    font-weight: 500;
    color: #1c326a;
    line-height: 32px;
}

.category-section-padding blockquote p:after {
    position: absolute;
    content: '"';
    right: 65px;
    font-size: 100px;
    opacity: 0.2;
    font-weight: 500;
    color: #1c326a;
    line-height: 32px;
    margin-top: 34px;
}
@media only screen and (max-width: 425px) {
    .category-section-padding blockquote {
        padding: 35px 20px;
    }
    .category-section-padding blockquote p:before {
        margin: -15px -37px;
    }
    .category-section-padding blockquote p:after {
        margin-top: 54px;
        right: 28px;
    }
}
.category-section-padding img {
    margin: 15px 0;
    width: 100%;
}
/*
.breadcrumbs {
    padding: 30px 0 !important;
    z-index: 2;
}
.breadcrumbs .l-section-h.i-cf {
    padding: 0;
}

.breadcrumbs .g-breadcrumbs-item {
    font-size: 13px;
}

.breadcrumbs .g-breadcrumbs:after {
    position: absolute;
    width: 100%;
    content: "";
    border-bottom: 1px solid #1c326a;
    opacity: 0.1;
    left: 0;
    top: 47px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}*/

.page.page-child.parent-pageid-50 .l-titlebar-content {
    display: none;
}

.page.page-child.parent-pageid-50 .l-titlebar.size_small .l-titlebar-h {
    justify-content: inherit;
    padding: 30px 0 20px;
    border-bottom: 1px solid rgba(28, 50, 106, .1);
}

.page.page-child.parent-pageid-50 .l-titlebar.size_small {
    background-color: transparent;
}
@media only screen and (max-width: 767px) {
    .page.page-child.parent-pageid-50 .l-titlebar.size_small .l-titlebar-h {
        display: none;
    }
}


@media only screen and (max-width: 1024px) {
    .sluzby-podstranka .ult-content-box {
        min-height: 272px !important;
    }
}

@media only screen and (max-width: 425px) {
    .sluzby-podstranka .ult-content-box-container {
        padding: 0 25px;
    }
    .sluzby-podstranka .ult-content-box {
        margin-bottom: 0 !important;
        min-height: auto !important;
    }
}

.w-socials-item.pinterest .w-socials-item-link-hover {
    background-color: transparent !important;
}

.w-socials-item.facebook .w-socials-item-link-hover {
    background-color: transparent !important;
}

.no-touch .w-socials-item-link:hover {
    box-shadow: 0 0 0 rgba(0,0,0,0) inset, 0 2px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3) !important;
}

.sluzba .zoznam-podkategorii p a {
    color: #1C326A !important;
}

.dodavatelia .letters {
    margin-top: 50px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 50px;
}
.dodavatelia .letters a {
    color: #1c326a;
}

.dodavatelia .letters a:hover {
    color: #e62444;
}

.dodavatelia .letters.sticky {
    position: fixed;
    top: 0;
    display: block;
    z-index: 2;
    background-color: #fff; 
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.1);
    height: 100px;
    line-height: 100px;
    margin-top: 0px;
    left: 0;
    width: 100%;

}

.txt-c {
    text-align: center;
}

.dodavatel {
    min-height: 200px;
    padding: 25px;
}

.dodavatel .title {
    color: #222429;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin-top: 20px;
}

.dodavatel .popis {
    color: #77777e;
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
}

.dodavatel .stranky a {
    color: #e62444;
    font-size: 16px;
    line-height: 32px;
}

.dodavatel .stranky a:hover {
    color: #e62444;
}

.dodavatel .logo.cb-loga img {
    height: 50px;
    width: 120px;
    object-fit: contain;
}

.w-blog-post.sticky .w-blog-post-title {
    font-weight: normal !important;
}

.sluzba.pozicovna .hover-foto, 
.sluzby-podstranka .pozicovna .hover-foto {
    background-image: url(img/pozicovna.png) !important;
}

.sluzba.sluzby-poradenstvo .hover-foto, 
.sluzby-podstranka .sluzby-poradenstvo .hover-foto {
    background-image: url(img/poradenstvo.png) !important;
}

.sluzba.doprava .hover-foto, 
.sluzby-podstranka .doprava .hover-foto {
    background-image: url(img/doprava_ibv.jpg) !important;
}

.sluzba.vizualizacie .hover-foto, 
.sluzby-podstranka .vizualizacie .hover-foto {
    background-image: url(img/vizualizacie.png) !important;
}

.sluzba.montaze .hover-foto, 
.sluzby-podstranka .montaze .hover-foto {
    background-image: url(img/kupelnove-studio.jpg) !important;
}

.mfp-title,
.mfp-counter {
    display: none;
}

.newsletter .wpcf7-response-output {
    display: none !important;
}

.okto-success-message {
    display: none;
}

.sluzby-podstranka .box {
    max-height: 160px;
}

.img-pecnamspadla {
    width: 150px;
}

.wpcf7-form-control-wrap.textarea-451 {
    display: block;
}

.before-jeden-predmet {
    position: relative;
    height: 480px;
    margin-bottom: 30px;
}

.jeden-predmet {
    position: absolute;
    background: #fff;
}

.jeden-predmet .popis-predmetu p {
    height:70px;
    overflow:hidden;
    transition: all .2s ease-in-out; 
}

.jeden-predmet:hover .popis-predmetu p {
    overflow: visible;
    height: auto;
    transform: scale(1); 
}

#loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ikonka-svg {
    width: 50px;
    margin: 0 auto;
}

.contact-form-contact-checkbox span.wpcf7-list-item-label {
    display: inline;   
    font-size: 15px; 
}

.contact-form-contact-checkbox span.wpcf7-list-item-label:before {
    content: 'check_box_outline_blank';
}

.contact-form-contact .contact-form-contact-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    color: #e62444 !important;
}

.contact-form-contact .contact-form-contact-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    content: 'check_box';
    opacity: 1;
}

.contact-form-contact .contact-form-contact-checkbox input[type="checkbox"] {
    display: none;
}

.contact-form-contact span.wpcf7-not-valid-tip {
    text-align: right;
}

.sluzby-podstranka .box {
    background: #fff;
}

@media only screen and (max-width: 1024px) {
    .before-jeden-predmet {
        height: 510px;
    }
    .jeden-predmet {
        height: 510px;
    }
}

.first-uppercase:first-letter {
    text-transform: uppercase;
}

.vernostna-karta .contact-form-contact-checkbox span.wpcf7-list-item-label {
    display: inline;   
    font-size: 15px; 
}

.vernostna-karta .contact-form-contact-checkbox span.wpcf7-list-item-label:before {
    content: 'check_box_outline_blank';
}

.vernostna-karta .contact-form-contact-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    color: #e62444 !important;
}

.vernostna-karta .contact-form-contact-checkbox input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
    content: 'check_box';
    opacity: 1;
}

.vernostna-karta .contact-form-contact-checkbox input[type="checkbox"] {
    display: none;
}

.ibv-button {
    background-image: linear-gradient(to bottom,#e62444,#e62444) !important;
    border-radius: 0px !important;
    border-width: 0 !important;
}

.ibv-button:hover {
    background-color: #e62444 !important;
}

.contact-form-contact-checkbox {
    text-align: left;
    margin-left: 3px;
}

.contact-form-contact .wpcf7-form-control-wrap {
    margin-bottom: 10px;
}

.contact-form-contact label {
    margin-bottom: 0px;
}

.ochrana-osobnych-udajov-text {
    text-align: justify;
}

.otvaracie-hodiny {
    text-align: center;
}

.otvaracie-hodiny .title {
    color: #222429;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    display: block;
    position: relative;
    z-index: 1;
}

.otvaracie-hodiny .subtitle {
    color: #77777e;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 10px;
    display: block;
    position: relative;
    z-index: 1;
}

.otvaracie-hodiny .sobota {
    color: #030d26;
    font-size: 19px;
    font-weight: 500;
    line-height: 32px;
    padding-top: 10px;
    display: block;
    position: relative;
    z-index: 1;
}

.otvaracie-hodiny .cas {
    color: #e62444;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    padding-top: 10px;
    display: block;
    position: relative;
    z-index: 1;
}

.otvaracie-hodiny .ult_modal-content:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("http://www.ibv.sk/engine/wp-content/uploads/2018/06/slice-1.png");
    width: 189px;
    height: 183px;
    background-size: contain;
    background-repeat: no-repeat;
}

.otvaracie-hodiny .ult_modal-content:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("http://www.ibv.sk/engine/wp-content/uploads/2018/06/slice-3.png");
    width: 124px;
    height: 137px;
    background-size: contain;
    background-repeat: no-repeat;
}

.otvaracie-hodiny .ult_modal .ult_modal-body {
    padding: 80px;
}

@media only screen and (max-width: 425px) {
    .otvaracie-hodiny .title {
        font-size: 21px;
    }
    .otvaracie-hodiny .subtitle {
        font-size: 16px;
    }
    .otvaracie-hodiny .ult_modal .ult_modal-body {
        padding: 20px;
    }
    .otvaracie-hodiny .ult_modal-content:before {
        display: none;
    }
}

.zaujal-vas-produkt h2 {
    color: #fff;
    margin-bottom: 0;
    padding-left: 60px;
}

.zaujal-vas-text p {
    padding-left: 60px;
}

.zaujal-vas-text p a {
    color: #E62444;
    opacity: 1;
}

.zaujal-vas-text p em {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
    font-style: normal;
}

.zaujal-vas-box {
    padding: 70px 0;
}

.zaujal-vas-pravo {
    padding-right: 60px;
    padding-top: 5px;
}

.zaujem-before-box .l-section-h {
    padding: 20px 0 0 0;
}
.zaujem-before-box .vc_column-inner {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.zaujem-before-box .vc_column-inner  .vc_column-inner{
    margin: auto;
}

@media only screen and (max-width: 1024px ) {
    .zaujal-vas-produkt h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px ) {
    .zaujal-vas-box {
        padding: 50px 0;
    }
    .zaujal-vas-pravo {
        padding-top: 32px;
    }
}

@media only screen and (max-width: 425px ) {
    .zaujal-vas-produkt h2 {
        padding-left: 13px;
        font-size: 27px;
    }
    .zaujal-vas-text {
        padding-left: 13px;
    }
    .zaujal-vas-pravo {
        padding-right: 0;
        padding-top: 0;
    }
    .zaujal-vas-pravo .align_right {
        text-align: left;
        float: initial !important;
    }

    .zaujal-vas-text p {
        padding-left: 0;
    }
}